
body {
  font-family: 'Segoe UI', sans-serif;
  background: #fdf6f0;
  margin: 0;
  padding: 0;
  
}

.form-container {
  width: 500px;
  margin: 100px auto;
  padding: 50px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #33778d;
}

.form-container input, .form-container textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-container button {
  padding: 10px 20px;
  background: #5a83a0;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.form-container button:hover {
  background: #699fb4;
}

.home-container {
  width: 80%;
  margin: 20px auto;
}

.story-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.stories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.story-card {
  background: #fff0f0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.story-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.error-text {
  color: #d32f2f;
  background-color: #fdecea;
  padding: 8px 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right:-18px;
  font-size: 14px;
  margin-top: 12px;
  align-items: center;
}

